<% if @restaurants.all.any? %>
	<ul>
		<% @restaurants.all.each do |restaurant| %>
			<li><%= restaurant.name %></li>
			<%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %>
		<% end %>
	</ul>
<% else %>
	No restaurants yet
<% end %>